<h1>Stupid Coaching</h1>

<form action="/answer">
  <div class="form">
    <p>Ask your coach anything: </p>
    <input type="text" name="question">
    <button type="submit" class="btn btn-primary">Ask!</button>
  </div>
</form>

